@model Mohamed.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.full_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.full_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.education_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.education_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
